<!-- app/views/sessions/new_user.html.erb -->
<div id="login">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <%= form_tag '/users/login' do %>
    <span class="fa fa-user"></span>
    <input type="text" name="uid" id="uid" placeholder="User ID">
    <span class="fa fa-lock"></span>
    <input type="password" name="password" id="password" placeholder="Password">
    <input type="submit" value="Login">
  <% end %>
<div>
