<!-- app/views/sessions/new_users.html.erb -->

<h1>Login</h1>

<%= form_tag '/users/login' do %>

  uid: <%= text_field_tag :uid %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>
