<section class="content-header">
  <h1>View Admins</h1>
  <br />
  <table class="table table-hover table-bordered table-striped text-center ">
    <thead>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% unless @admins== nil %>
        <% @admins.each do |admin_id, values| %>
          <tr>
            <td><%= values["name"] %></td>
            <td><%= link_to 'Remove', {:controller => "admins", :action => :destroy, :id => admin_id },method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>
