<section class="content-header">
  <h1>New Admin</h1>
  <br />
  <br />
  <%= form_tag "/admins" , class: "form-horizontal" do %>
          <!-- Text input-->

        <div class="form-group">
          <label class="control-label col-sm-2" style="text-align: left !important;"for="name">Name:</label>
          <div class="input-group col-sm-3">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  name="name" placeholder="Name" class="form-control"  type="text">
          </div>
        </div>

        <!-- Password input-->

        <div class="form-group">
          <label class="control-label col-sm-2" style="text-align: left !important;"for="password">Password:</label>
          <div class="input-group col-sm-3">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input name="password" placeholder="Password" class="form-control" type="password">
          </div>
        </div>

        <!-- Success message -->
        <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

        <!-- Button -->
        <br />
        <div class="form-group">
          <div class="col-md-4">
            <button type="submit" class="btn btn-success" >Create Admin </button>
          </div>
        </div>
      <% end %>
</section>
<link rel="stylesheet" type="text/css" href="/css/form.css">
