<section class="content-header">
  <h1>View complaints</h1>
  <br />
  <table class="table table-hover table-bordered table-striped text-center ">
    <thead>
      <tr>
        <th class="col-md-2">User ID</th>
        <th class="col-md-8">complaint</th>
        <% if current_admin["master"]=="1" %>
          <th class="col-md-2">Action</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% unless @complaints == nil %>
        <% @complaints.each do |complaint_id, values| %>
          <tr>
            <td><%= values["uid"] %></td>
            <td><%= values["complaint"] %></td>
            <% if current_admin["master"]=="1" %>
              <td><%= link_to 'Delete', {:controller => "complaints", :action => :destroy, :id => complaint_id },method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>
