<div id="map" style="height: 80vh; width: 100%;">
</div>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-xyrWqgKry9NJuHmZBt557-T5tmxgZbc&callback=initMap">
</script>
<script>
  function initMap() {
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      maxZoom: 19,
      minZoom: 10,
    });
    directionsDisplay.setMap(map);
    calculateAndDisplayRoute(directionsService, directionsDisplay);
  }
  function calculateAndDisplayRoute(directionsService, directionsDisplay) {
    var p1 = new google.maps.LatLng(29.993725, 31.160874);
    var p2 = new google.maps.LatLng(29.971552, 31.099567);
    var waypts = [{location: p1}, {location: p2}];
    directionsService.route({
      origin: {lat:30.018184,lng:31.197905},
      destination: {lat:29.9760137,lng:30.9476715},
      waypoints: waypts,
      travelMode: 'DRIVING',
      unitSystem: google.maps.UnitSystem.METRIC
    }, function(response, status) {
      if (status === 'OK') {
        directionsDisplay.setDirections(response);
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  }
</script>
