<div class="box box-solid box-primary text-center col-md-2" style="margin: 15px 0 0 15px; padding: 0; position: absolute; z-index: 1;">

  <div class="box-header with-border">
    <h3 class="box-title">ETA</h3>
  </div><!-- /.box-header -->

  <div id="arrival" class="box-body">
  </div><!-- /.box-body -->

</div><!-- /.box -->
<div id="map" style="height: 80vh; width: 100%;"></div>
<script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-xyrWqgKry9NJuHmZBt557-T5tmxgZbc&callback=initMap">
</script>
<script src="/js/users_home.js"></script>
