<section class="content-header">
  <h1>New User</h1>
  <br />
  <br />
  <%= form_tag "/users", class: "form-horizontal" do %>

    <!-- Text input-->
    <div class="form-group">
      <label class="control-label col-md-2" style="text-align: left !important;"for="uid">User ID:</label>
      <div class="input-group col-md-3">
        <span class="input-group-addon"><i class="fa fa-id-card-o"></i></span>
        <input  name="uid" placeholder="User ID" class="form-control"  type="number">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="control-label col-md-2" style="text-align: left !important;"for="name">User Name:</label>
      <div class="input-group col-md-3">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input  name="name" placeholder="User Name" class="form-control"  type="text">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="control-label col-md-2" style="text-align: left !important;"for="bus">Bus:</label>
      <div class="input-group col-md-3">
        <span class="input-group-addon"><i class="fa fa-bus"></i></span>
        <select class="form-control" name="bus">
          <option value="" disabled selected hidden>Select Bus</option>
          <% @buses.each_with_index do |value, key| %>
            <% unless key == 0 %>
              <option value = '<%= key %>' ><%= key %></option>
            <% end %>
          <% end %>
        </select>

      </div>
    </div>

    <!-- Success message -->
    <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

    <!-- Button -->
    <br />
    <div class="form-group">
      <div class="col-md-4">
        <button type="submit" class="btn btn-success" >Create User </button>
      </div>
    </div>
  <% end %>
</section>
<link rel="stylesheet" type="text/css" href="/css/form.css">
