<section class="content-header">
  <h1>View Buses</h1>
  <br />
  <table class="table table-hover table-bordered table-striped text-center ">
    <thead>
      <tr>
        <th>Bus Number</th>
        <th>Route</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% unless @buses== nil %>
        <% @buses.each_with_index do |value, key| %>
          <% unless key == 0 %>
            <tr>
              <td><%= key %></td>
              <td>
                <% value.each_with_index do |location, index |%>
                  <%if index > 0 %>
                  -
                  <% end %>
                  <%=location["name"]%>
                <% end %>
              </td>
              <td><%= link_to 'Remove', {:controller => "buses", :action => :destroy, :id => key },method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>
