<section class="content-header">
  <h1>View Buses</h1>
  <br />
  <table class="table table-hover table-bordered table-striped text-center ">
    <thead>
      <tr>
        <th>Bus Number</th>
        <th>Route</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% unless @buses== nil %>
        <% @buses.each do |bus_id, bus| %>
        <tr>
          <td><%= bus["busid"] %></td>
          <td>
            <% bus["route"].each_with_index do |location, index |%>
              <% if (index.to_i+1)%3 == 0%>
                <%unless index.to_i ==2 %>
                -
                <% end %>
                <%=bus["route"][index.to_i-2]%>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to 'Remove', {:controller => "buses", :action => :destroy, :id => bus_id },method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>
