<div id="map" style="height: 80vh;" class="col-xs-12"></div>
<div class="panel-group col-xs-2" style="margin: 15px 15px 0 0; padding: 0; position: absolute; z-index: 1; right:0;">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title text-center">
        <a data-toggle="collapse" href="#collapse" style="text-decoration: none !important;">
          <span>Filter Buses&nbsp</span>
          <span class="caret"></span>
        </a>
      </h4>
    </div>
    <div id="collapse" class="panel-collapse collapse">
      <div class="panel-body">
        <br />

        <!-- Select  input-->
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-bus"></i></span>
            <select class="form-control" name="bus">
              <option value="" disabled selected hidden>Select Bus</option>
              <% @buses.each_with_index do |value, key| %>
                <% unless key == 0 %>
                  <option value = '<%= key %>' ><%= key %></option>
                <% end %>
              <% end %>
            </select>
          </div>
        </div>

        <!-- Text Date input-->
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input  name="date" value="live" class="form-control datepicker" type="text" disabled>
          </div>
        </div>

        <!-- Radio input-->
        <div class="text-center">
          <% if Time.now.strftime("%p") == "AM" %>
            <div class="radio-inline ">
              <label><input type="radio" value ="am" name="interval" checked disabled>AM</label>
            </div>
            <div class="radio-inline ">
              <label><input type="radio" value ="pm" name="interval" disabled>PM</label>
            </div>
          <% else %>
            <div class="radio-inline" disabled>
              <label><input type="radio" value ="am" name="interval" disabled>AM</label>
            </div>
            <div class="radio-inline ">
              <label><input type="radio" value ="pm" name="interval" checked disabled>PM</label>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

<script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmak4XCMdSXrfo_X6r7Np7O_dW8OgP52s&callback=initMap">
</script>
<script src="/js/buses_live_feed.js"></script>
