<section class="content-header">
  <h1>View Reports</h1>
  <br />
  <table class="table table-hover table-bordered table-striped text-center ">
    <thead>
      <tr>
        <th class="col-md-2 ">User ID</th>
        <th class="col-md-10">Problem</th>
        <!-- <th>Action</th> -->
      </tr>
    </thead>

    <tbody>
      <% unless @reports == nil %>
        <% @reports.each do |report_id, values| %>
          <tr>
            <td><%= values["uid"] %></td>
            <td><%= values["problem"] %></td>
            <!-- <td><%= link_to 'Remove', {:controller => "reports", :action => :destroy, :id => :admin_id },method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>
